body {
    background-color:white;
    text-align:center;
}

#banner{
    font-family: 'Nunito', serif;
}

#game{
    width:450px;
    height:450px;
    border-radius:100%;
    position:relative;
    margin:100px auto;
}

button{
    border-radius:100%;
    width:20px;
    height:20px;
    margin:120px 20px 5px 20px;
    background-color:orangered;
    border-color:#222;
    border-style:solid;
}

.bigButton{
    border-width:15px;
    border-color:#222;
    border-style:solid;
    width:190px;
    display:inline-block;
    height:190px;
    margin:-2px;
}

#topLeft{
    border-radius:100% 0 0 0;
    background-color:#090;
}

#topRight {
    border-radius:0 100% 0 0;
    background-color:#bc2000 ;
}

#bottomLeft{
    border-radius:0 0 0 100%;
    background-color:#bcbc20;
}

#bottomRight{
    border-radius:0 0 100% 0;
    background-color:#0002bc;
}

#circle{
    border-width:15px;
    border-style:solid;
    border-color: #222;
    border-radius:100%;
    background-color:#E0DFDB;
    width:180px;
    height:180px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:50;
}